@import url('/assets/css/rouge.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Default (light) mode */
:root {
  --accent-color: #0044cc;
  --background-color-card: #1f1f1f;
  --background-color: #ffffff;
  --blockquote-background: #2a2a2a;
  --blockquote-border: #6699ff;
  --body-background: #e0e0e0;
  --code-color: #aaccaa;
  --color-border: #cccccc;
  --em-color: palegoldenrod;
  --error-color: #cc4444;
  --footer-background: var(--background-header);
  --hashtag-color: #ff6600;
  --header-color: #fff;
  --heading-color: #336699;
  --main-background: #e0e0e0;
  --max-width: 90rem;
  --nav-background: #f3f3f3;
  --strong-color: #f099f2;
  --success-color: #3c763d;
  --text-primary-color: #333333;
  --text-secondary-color: #666666;
  --math-background: #b0b9b0;
  --math-color: #222;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {}
}

/* Global styles */
body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-background);
  color: var(--text-primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header header"
    "main nav"
    "footer footer";
  grid-template-columns: 75% 25%;
  grid-template-rows: auto 1fr auto;
  max-width: 90rem;
  margin: 0em auto;
  padding: 0;
}

main {
  grid-area: main;
  background-color: var(--body-background);
  padding: 0 1rem 0 0.5em;
  margin: 0em;
}

nav {
  grid-area: nav;
  box-shadow: -2px 0 5px var(--heading-color);
  padding: 0;
  margin: 0 0 3em 0;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

header {
  grid-area: header;
  background-color: var(--heading-color);
  color: var(--header-color);
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0em 0.5em;
  vertical-align: middle;
  text-transform: uppercase;
}

footer {
  grid-area: footer;
  background-color: #337ab7;
  color: #fff;
  padding: 20px;
  text-align: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
  border: 1px solid red;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1em;
}

nav>ul>li {
  margin: 0em 0em 0em 0em;
  border-bottom: 0.2em solid var(--heading-color);
}

nav>ul>li>ul>li>a {
  text-decoration: underline;
}


nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

h1 {
  background-color: var(--heading-color);
  color: var(--background-color);
  padding: 0em 1em;
  border-radius: 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h2 {
  border-bottom: 0.1em solid var(--heading-color);
}

h3 {
  text-decoration: underline;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}

a:hover {}

::selection {
  background-color: var(--accent-color);
  color: #f0f0f0;
}

div.social {
  text-align: right;
  padding: 0.5em;
  background-color: var(--heading-color);
}

div.social a {
  color: var(--header-color);
}

div.social img {
  background-color: var(--body-background);
  max-height: 1.2rem;
}

strong {
  background-color: var(--strong-color);
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
}

em {
  background-color: var(--em-color);
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
  font-weight: bolder;
}

blockquote {
  border-left: 0.5rem solid var(--blockquote-border);
  border-right: 0.5rem solid var(--blockquote-border);
  border-radius: 0.5em;
  padding: 1em;
  margin: 2em 2em;
  color: var(--text-secondary-color);
  font-style: italic;
}

table {
  width: auto;
  max-width: 90%;
  border: 1px solid var(--text-primary-color);
  margin: 0;
  color: var(--text-primary-color);
}

table td {
  padding: 1em;
  text-align: left;
  border-top: 1px solid var(--color-border);
}

div.highlight {
  padding: 0.2em 1em;
  margin: 1em 0;
  border-radius: 1em;
}

code {
  border-radius: 0.5em;
  background-color: #272822;
  padding: 0;
  font-weight: normal !important;
}

code.language-plaintext {
  padding: 0.1em 1em;
  color: var(--code-color);
}

.hashtag {
  color: var(--hashtag-color);
}

mjx-container {
  background-color: var(--math-background);
  color: var(--math-color);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
}

p>mjx-container {
  margin: 0;
  padding: 0 0.5rem;

}

li>mjx-container {
  margin: 0.5rem 0;
  padding: 0.2rem 0.5rem;
}


/* Responsive design for mobile */
@media (max-width: 600px) {
  body {
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
    grid-template-columns: 1fr;
    height: auto;
    max-width: 100%;
    padding: 0;
  }

  header,
  nav,
  main,
  footer {
    padding: 1rem;
    margin: 0;
  }

  nav {
    position: static;
    height: auto;
    overflow: visible;
  }

}