 @import url('/assets/css/rouge.css');

 :root {
   --background-blockquote: #2a2a2a;
   --background-body: #121212;
   --background-code: #2b2b2b;
   --background-color-card: #1f1f1f;
   --background-color: #181818;
   --background-footer: #101010;
   --background-header: #101010;
   --background-main: #1a1a1a;
   --background-nav: #0f0f0f;
   --blockquote-border: #6991ff;
   --color-accent: #6699ff;
   --color-border: #444444;
   --color-code: #a8e27b;
   --color-em: #f4c775;
   --color-error: #e57373;
   --color-heading: #83b9cf;
   --color-highlight: #ffcc80;
   --color-primary-text: #d9d9d9;
   --color-secondary-text: #aaaaaa;
   --color-success: #6fcf97;
   --color-hashtag: #ff9966;
 }


 h1 {
   background-color: var(--color-heading);
   color: black;
   border-radius: 1ex;
   margin: 0;
   text-align: center;
   font-size: 1.6em;
 }

 h2 {
   color: var(--color-heading);
   border-bottom: 1px solid var(--color-heading);
   font-size: 1.6em;
 }

 h3 {
   color: var(--color-heading);
   font-size: 1.6em;
   text-decoration: underline;
 }

 h4 {
   color: var(--color-heading);
   font-size: 1.4em;
 }

 h5 {
   color: var(--color-heading);
   font-size: 1.2em;
 }

 h6 {
   color: var(--color-heading);
   font-size: 1em;
 }

 a {
   color: var(--color-accent);
   text-decoration: none;
 }

 a:hover {
   color: #fff;
 }

 ::selection {
   background-color: #2d2d2d;
   color: #f0f0f0;
 }

 div.social {
   margin-left: 1em;
   float: right;
 }

 div.social img {
   max-width: 2ex;
   background-color: #fff;
 }

 strong {
   font-weight: normal;
   color: var(--strong-highlight);
   padding: 0 0.2em;
   border-radius: 3px;
 }

 em {
   font-style: normal;
   color: var(--color-em);
   padding: 0 0.2em;
   border-radius: 3px;
 }

 blockquote {
   border-left: 4px solid var(--blockquote-border);
   background-color: var(--background-blockquote);
   padding: 1em;
   margin: 1em 0;
   color: var(--color-primary-text);
   font-style: italic;
 }

 pre.highlight {
   border: 1px solid var(--color-success);
   border-radius: 1ex;
   padding: 0 1ex;
 }

 code.language-plaintext,
 .MJX-TEX {
   font-family: 'Roboto Mono', monospace;
   color: var(--color-success);
   font-weight: 300;
 }

 .hashtag {
   color: var(--color-hashtag);
   font-weight: bold;
 }

 body {
   -webkit-font-smoothing: antialiased;
   background-color: var(--background-body);
   color: #d0d0d0;
   display: grid;
   font-family: var(--font-serif);
   grid-template-areas:
     "header header"
     "main nav"
     "footer footer";
   grid-template-columns: minmax(0, 4fr) minmax(1fr, 4fr);
   grid-template-rows: auto 1fr auto;
   height: 100vh;
   line-height: 1.6;
   margin: 0 auto;
   max-width: 80em;
 }

 header {
   grid-area: header;
   background-color: var(--background-header);
   padding: 1ex 2ex 0ex 2ex;
   text-align: left;
 }

 main {
   grid-area: main;
   background-color: var(--background-main);
   padding: 1ex;
   border-radius: 1em;
 }

 nav {
   grid-area: nav;
   background-color: var(--background-nav);
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
 }

 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0ex 0 0 1em;
 }

 nav ul li {
   padding-bottom: 0.0rem;
   border-top: 1px solid var(--color-border);
 }

 nav ul li a:hover {
   background-color: #444;
   color: #ffffff;
 }

 nav>ul>li {
   border-top: 1px solid var(--color-heading);
 }

 footer {
   grid-area: footer;
   background-color: var(--background-footer);
   padding: 1rem;
   text-align: center;
   color: #e0e0e0;
 }

 @media (max-width: 60em) {
   body {
     grid-template-areas:
       "header header"
       "nav nav"
       "main main"
       "footer footer";
     grid-template-columns: 1fr;
     height: auto;
     max-width: 100%;
     padding: 0;
   }

   nav,
   main,
   footer {
     padding: 1rem;
   }

   main {
     margin: 0;
   }
 }