<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script> MathJax = { tex: { inlineMath: [['$', '$']] } };</script>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
  <header>
    <a href="https://linkedin.com/in/arafatm"><img class="social" src="assets/images/li.svg" /></a>
    <a href="https://github.com/arafatm"><img class="social" src="assets/images/gh.svg" /></a>
    Header
  </header>
  <nav>
    <li>Test</li>
    <li>Test 2</li>
    <li>Long navbar Long navbar Long navbar Long navbar Long navbar Long navbar </li>
    </nav>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    Footer
  </footer>
</body>

</html>